$mine-shaft-grey: hsl(0, 0%, 20%);
$dove-grey: hsl(0, 0%, 40%);
$grey: hsl(0, 0%, 56%);
$alto-white: hsl(0, 0%, 87%);
$gallery-white: hsl(0, 0%, 93%);
$white: hsl(0, 0%, 100%);

$astral-blue: hsl(211, 52%, 46%);
